*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.the-booleaner{
    background-image:url(./img/pattern.png);
    margin-left: 0;
}

#logo{
    width: 200px;
    margin-top: 50px; 
    margin-bottom: 10px;  
}

header>h1{
    margin-top: 20px;
    font-family: 'Belanosima', sans-serif;
}

#author{
    color: blue;
    font-size: larger;
}

header>span{
    font-family: 'Agdasima', sans-serif;
    color: grey;
}

#date-page{
    font-size: 12px;
}

body{
    margin-left: 25px;
}

main{
    margin-top: 30px;
}

main>div{
    font-size: smaller;
}

p, table, ul{
    margin: 15px 0;
}

.Highlighted-Text{
    background-color: yellow;
}

thead{
    background-color: blue;
    color: aliceblue;
}

.lightblue{
    background-color: aquamarine;
    color: black;
}

th, td{
    width: 33.3%;
}